hr {
    border-top: 1px solid #ddd;
}
.form-control[disabled] {
    background-color: #FFF !important;
}
.leftDiv {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 20px;
    height: 30px;
    margin-bottom: 15px;
    vertical-align: middle;
}
.leftDiv label {
    display: block;
    line-height: 1em;
    margin:0px;
}
.rightDiv {
    position: absolute;
    top: 0;
    right: 50%;
    left: 20%;
    height: 30px;
    margin-bottom: 15px;
}
.semiExhaustive {
    position: absolute;
    top: 0;
    right: 40%;
    left: 51%;
    height: 30px;
    margin-bottom: 15px;
}
.wrapperDiv {
    width: 100%;
    position: relative;
}
.padded {
    padding-top: 6px;
}
legend {
    width:auto;
    padding:0 5px;
    border-bottom:none;
    margin-left: 15px;
}
fieldset {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.navbar-inverse .navbar-brand {
    color: white;
    font-size: 1.7em;
}
.paddedLeft {
    padding-left: 30px;
}
html,
body {
    height: 100%;
    padding-bottom: 0px !important;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -70px;
    padding: 0 0 70px;
}

#footer {
    height: 70px;
    border-top: 1px solid #ddd;
}
.cont {
    width: auto;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    padding-top: 13px;
    padding-bottom: 13px;
}
.cont img {
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}